#global-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 255, 255, 0.05);
  z-index: 13;
}

#global-loading-gif {
  width: 150px;
  height: 150px;
}
