.my-message-personal-line {
  width: 100%;

  margin-bottom: 10px;
}

.my-message-personal-body {
  height: 100%;
  max-width: 78%;
  min-width: 130px;
  width: fit-content;
  word-break: break-word;
  background-color: rgba(53, 61, 61, 0.98);
  padding: 8px;
  border-radius: 15px;
  line-height: 20px;
  border-style: solid;
  margin-left: 5%;
}

.my-message-img-personal {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}

.message-p-personal {
  color: white;
  margin: 5px;
}

.my-message-info-personal {
  display: flex;
  width: 100%;
  height: 30px;

  justify-content: space-between;
  margin-top: 10px;
}

.get-message-personal {
  width: 25px;
}

.my-gets-personal {
  display: flex;

  align-items: center;
}

.my-time-personal {
  margin-right: 10px;
  margin-top: 10px;
}
